<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
    <%Today = Date.today%>
    <p>The date is <%=Today.strftime("%A")%>, <%=Date::MONTHNAMES[Today.month]%> <%=Today.day%>, <%=Today.year%></p>
  </body>
</html>
